Chater/.vs/Chater/v15/Server/sqlite3/storage.ide-wal
Chater/.vs/Chater/v15/Server/sqlite3/storage.ide-shm
Chater/.vs/Chater/v15/Server/sqlite3/storage.ide
Chater/.vs/Chater/v15/Server/sqlite3/db.lock
Chater/Chater/node_modules/
