@{
    ViewData["Title"] = "Home Page";
}


<h4>Chat</h4>

<div id="inputForm">
    <input type="text" id="message" />
    <input type="button" id="sendBtn" value="Send (signalR)" />
    <input type="button" id="sendBtnApi" value="Send (api)" />
</div>
<div id="chatroom"></div>
